body{
 height: 100%;
 margin: 0; 
 font-family: Times New Roman; 
 padding: 20px;
}

* {
	box-sizing: border-box;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto; 
	width: 50%;
}

.headerofpage {
	text-align: center;
	background: plum;
	color: White;
	font-size: 25px;
}

.comments-part {
	background-color: plum;
	color: white;
	width: 100%;
}

.tabs {
	background-color: silver;
	color: white;
	float: left;
	border: none; 
	outline: none; 
	cursor: pointer;
	padding: 14px 16px;
	font-size: 18px;
	width: 25%;
}


.innercontent {
	color: white;
	background-color: salmon;
	display: none;
	padding: 100px 20px; 
	height: 100%;
	width: 100%
}

.row {
	margin: 8px -16px;
}

.row,
.row > .column {
	padding: 8px;
}

.column {
	float: left;
	width: 25%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.piccontent {
	background-color: white;
	padding: 10px;
	color: black;
}

.comment {
	border: thin solid black;
	display: flex; 
	margin: 10px;
	padding: 10px;
	width: 300px; 
} 

.task span {
	flex-grow: 1;
}

